/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
nav.global_nav ul {
  background: #eee;
  border: 1px solid #ccc;
  font-size: 14px;
  text-align: center;
  width: 100%;
  display: table;
  table-layout: fixed;
}

nav.global_nav ul li {
  border-right: 1px solid #ccc;
  display: table-cell;
}

nav.global_nav ul li:last-child {
  border-right: none;
}

nav.global_nav ul li a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
  padding: 12px 0;
  display: block;
}

nav.global_nav ul li a:hover {
  background: #e9e9e9;
}
